* {
    box-sizing: border-box; 
    
  }

  .black {
      background-color: black;
      height: 60px;
  }

  .magenta {
      background-color: #e20074;
      height: 60px;
  }

  .magenta img, h2 {
      float: left;
      color: white;
      padding-left: 15%;
  }

  .white {
      background-color: whitesmoke;
      height: 60px;
  }

  .menu {
    /* position: relative;
    width: 100%; */
    background-color: whitesmoke;
    text-align: center;
  }

  .menu ul li {
      position: relative;
      display: inline-block;
      padding: 0 20px;
      background-color: whitesmoke;
  }

  .dropdown {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    opacity: 0;
    visibility: hidden;
  }

  ul li:hover .dropdown {
    background-color: whitesmoke;
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .menu ul li, ul.dropdown li {
      text-transform: uppercase;
      list-style-type: none;
  }

  ul li a {
      text-decoration: none;
      color: black;
  }

  .container {
      width: 1000px;
      margin: 0 auto;
  }

  .box-20 {
      float: left;
      width: 20%;
      background-color: whitesmoke;
  }

  .box-80 {
      float: left;
      width: 80%;
  }

  .box-30 {
      float: left;
      width: 33.3%;
      border: 10px solid white;
  }
    
  .pozadina {
      background-color: pink;
      
  }

  h4, p {
      text-align: center;
  }

  .box-30 a {
      text-decoration: none;
      color: black;
  }

  .box-30 a span {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    opacity: 0;
    visibility: hidden;

  }

  .box-30 a:hover span {
    background-color: rgb(177, 174, 174);
    opacity: 1;
    visibility: visible;
    display: block;
    position: absolute;
    width: 20%;
  }

  .bonus {
      position: absolute;
      left: 58%;
      background-color: rgb(254, 187, 27);
      height: 80px;
      width: 80px;
      border-radius: 40px;
  }

  @media only screen and (max-width: 425px){

    .box-30 {
        width: 100%;
        text-align: center;
    }

    .bonus {
        left: 62%;
    }

  }

  @media only screen and (max-width: 768px) {

    .box-30 {
        width: 50%;
        text-align: center;
    }

    .bonus {
        left: 82%;
    }

  }